<%= render 'shared/page_title', title: "View Clearance Batch" %>

<div class="jumbotron">
  
    <div><strong>Batch Number: <%= @clearance_batches.id %><br>
         Batch Date: <%= @clearance_batches.created_at.strftime("%Y/%m/%d") %><br>
         Status: Clearanced<br><br></strong>
    </div>
    
    <input id ="printbtn" type="button" value="Print this page" class="btn btn-mini btn-primary" onclick="window.print();" ><br><br>
 
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="text-align:center">Item#</th>
          <th>Name</th>
          <th>Type</th>
          <th>Color</th>
          <th style="text-align:center">Size</th>
          <th style="text-align:right">Wholesale</th>
          <th style="text-align:right">Retail</th>
          <th style="text-align:right">Clearance</th>
        </tr>
      </thead>

      <tbody>
        <% @clearance_batches.items.each do |batch_items| %>
            <tr>
              <td align="center"><%= batch_items.id %></td>
              <td><%= batch_items.style.name %></td>
              <td><%= batch_items.style.type %></td>
              <td><%= batch_items.color %></td>
              <td align="center"><%= batch_items.size %></td>
              <td align="right"><%= number_to_currency(batch_items.style.wholesale_price) %></td>
              <td align="right"><%= number_to_currency(batch_items.style.retail_price) %></td>
              <td align="right"><%= number_to_currency(batch_items.price_sold) %></td>
            </tr>
        <% end %>
     </tbody>
    </table>
</div>