<%= render 'shared/page_title', title: "Scanned Items (Pre-Batch)" %>
<%= render 'layouts/navigation' %>

<div class="jumbotron">
  <%= button_to "Process Batch", {:action => "processscanned", :controller => "clearance_queues" }, {:class => "btn btn-primary"  }%><br>
  <table class="table table-striped clearance_batches">
    <thead>
      <tr>
        <th style="text-align:center">Item</th>
        <th>Created</th>
        <th>Status</th>
        <th>Name</th>
        <th>Type</th>
        <th>Color</th>
        <th style="text-align:center">Size</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @cqueue.each do |clearance_queue| %>
          <tr>
            <td align="center"><%= clearance_queue.scanned_item %></td>
            <td><%= clearance_queue.created_at.strftime("%Y/%m/%d") %></td>
            <td><%= clearance_queue.item.status %></td>
            <td><%= clearance_queue.item.style.name %></td>
            <td><%= clearance_queue.item.style.type %></td>
            <td><%= clearance_queue.item.color %></td>
            <td align="center"><%= clearance_queue.item.size %></td>
            <td><%= link_to 'Delete from Queue', clearance_queue, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
  </tbody>
      </table>
</div>