<%= render 'shared/page_title', title: "Scan Clearance Items" %>
<%= render 'layouts/navigation' %>

<div class="center jumbotron">    
<p>
  <%= form_for @clearance_queue do |f| %>
      <%= f.text_field :scanned_item, autofocus: true %>
      <%= f.submit "Add", class: "btn btn-primary" %>
   <% end %>
</p>
</div>