<%= render 'shared/page_title', title: "Scan Clearance Items" %>
<%= render 'layouts/navigation' %>
<%= render 'shared/errors', obj: @cqueue %>

<div class="center jumbotron">
  <%= form_for @cqueue do |f| %>
  
    <p>
      <%= f.text_field :scanned_item %>
  
      <%= f.submit "Add", class: "btn btn-primary" %>
    </p>
  
  <% end %>
</div>