<%= render 'shared/page_title', title: "Inventory by Status" %>
<%= render 'layouts/navigation' %>
<div class="jumbotron">
<div class="range-query">
    <%= form_tag clearance_queues_path, method: :get do %>
      <table Width="50%">
        <td><%= check_box_tag 'status' %><%= label_tag 'Status' %></td>
        <td><%= check_box_tag 'Name' %><%= label_tag 'Name' %></td>
        <td><%= check_box_tag 'Type' %><%= label_tag 'Type' %></td>
        <td><%= check_box_tag 'Batch' %><%= label_tag 'Batch' %></td>
        <td><%= text_field_tag 'search[status]' %><%= submit_tag 'Search', class: 'btn btn-primary' %></td>

      </table>
    <% end %>
</div>

<table class="table table-striped clearance_batches">
    <thead>
      <tr>
        <th style="text-align:center">Item</th>
        <th>Status</th>
        <th>Name</th>
        <th>Type</th>
        <th>Color</th>
        <th style="text-align:center">Size</th>
        <th style="text-align:center">Wholesale</th>
        <th style="text-align:center">Retail</th>
        <th style="text-align:center">Price Sold</th>
        <th style="text-align:center">Batch</th>
      </tr>
    </thead>
    <tbody>
      <%= will_paginate %>
      <% @items.each do |item| %>
          <tr>
            <td align="center"><%= item.id %></td>
            <td><%= item.status %></td>
            <td><%= item.style.name %></td>
            <td><%= item.style.type %></td>
            <td><%= item.color %></td>
            <td align="center"><%= item.size %></td>
            <td align="center"><%= number_to_currency(item.style.wholesale_price) %></td>
            <td align="center"><%= number_to_currency(item.style.retail_price) %></td>
            <td align="center"><%= number_to_currency(item.price_sold) %></td>
            <td align="center"><%= item.clearance_batch_id %></td>
          </tr>
      <% end %>
   </tbody>
  </table>
        <%= will_paginate %>
</div>