<%= render 'shared/page_title', title: "Inventory by Batch" %>
<%= render 'layouts/navigation' %>
<div class="jumbotron">
    <table class="table table-striped clearance_batches">
      <thead>
        <tr>
          <th>Batch</th>
          <th>Created</th>
          <th>Item</th>
          <th>Status</th>
          <th>Style</th>
          <th>Type</th>
          <th>Color</th>
          <th>Size</th>
          <th style="text-align:right">Price Sold</th>
         </tr>
      </thead>

      <tbody>
        <% @itemsbybatch.each do |item| %>
            <tr>
              <td align="center"><%= item.clearance_batch.id %></td>
              <td><%= item.clearance_batch.created_at.strftime("%Y/%m/%d") %></td>
              <td align="center"><%= item.id %></td>
              <td><%= item.status %></td>
              <td><%= item.style.name %></td>
              <td><%= item.style.type %></td>
              <td><%= item.color %></td>
              <td align="center"><%= item.size %></td>
              <td align="right"><%= sprintf('%.2f', item.price_sold)%></td>
            </tr>
        <% end %>
     </tbody>
    </table>
</div>