<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Scan", new_clearance_queue_path %>
  </li>
  <li>
    <%= link_to "Scanned Items", clearance_queues_path %>
  </li>
  <li>
    <%= link_to "Upload", clearance_batches_path %>
  </li>
  <li>
    <%= link_to "Inventory by Status", items_path %>
  </li>
  <li>
    <%= link_to "Inventory by Batch", itemsbybatch_path %>
  </li>
</ul>
